<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/champions.css">
    <title>Choose a champion</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <div id="barre_nav_champion">
                <ul>
                    <li>
                        <a href='/champions/list'>Tout</a>
                    </li>
                    <li>
                        <a href='/champions/Fighter'>Fighter</a>
                    </li>
                    <li>
                        <a href='/champions/Mage'>Mage</a>
                    </li>
                    <li>
                        <a href='/champions/Assassin'>Assassin</a>
                    </li>
                    <li>
                        <a href='/champions/Tank'>Tank</a>
                    </li>
                    <li>
                        <a href='/champions/Marksman'>Marksman</a>
                    </li>
                    <li>
                        <a href='/champions/Support'>Support</a>
                    </li>
                </ul>
            </div>
            <div id="personnage">
                <!-- recieve champions { id= .. name=...} -->
                <% for (var c of champions) { %>
                    <button><a href="/champions/compare/<%= champion1.id %>/<%= c.id %>"><img src="<%= c.icon %>" alt="icon champion"></a></button>

                    <% } %>
            </div>


        </main>
        <%- include('footer') %>

</body>

</html>