<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/show_champion.css">

    <title>Compare champions</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section id="button_show">
                <button><a href='/champions' class="gold">Back to the list</a></button>
                <button><a href='/champions/choose/<%= champion1.id %>/all' class="gold">choose an other one to
                        compare</a></button>
            </section>
            <section id="sectionTableCompare">
                <table id="tableCompare">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <td><img src="<%= champion1.icon %>" alt="icon champion 1"></td>
                            <td><img src="<%= champion2.icon %>" alt="icon champion 2"></td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td scope="row">Name </td>
                            <td>
                                <%= champion1.name %>
                            </td>
                            <td>
                                <%= champion2.name %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Key </td>
                            <td>
                                <%= champion1.key_champion %>
                            </td>
                            <td>
                                <%= champion2.key_champion %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Title </td>
                            <td>
                                <%= champion1.title %>
                            </td>
                            <td>
                                <%= champion2.title %>
                            </td>

                        </tr>
                        <tr>
                            <td scope="row">Description </td>
                            <td>
                                <%= champion1.description %>
                            </td>
                            <td>
                                <%= champion2.description %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Category </td>
                            <td>
                                <%= champion1['tags_0'] %>
                            </td>
                            <td>
                                <%= champion2['tags_0'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">HP </td>
                            <td>
                                <%= champion1['hp'] %>
                            </td>
                            <td>
                                <%= champion2['hp'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">HP per level </td>
                            <td>
                                <%= champion1['hpperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['hpperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">MP </td>
                            <td>
                                <%= champion1['mp'] %>
                            </td>
                            <td>
                                <%= champion2['mp'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">MP per level </td>
                            <td>
                                <%= champion1['mpperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['mpperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Move speed </td>
                            <td>
                                <%= champion1['movespeed'] %>
                            </td>
                            <td>
                                <%= champion2['movespeed'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Armor </td>
                            <td>
                                <%= champion1['armor'] %>
                            </td>
                            <td>
                                <%= champion2['armor'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Armor per level </td>
                            <td>
                                <%= champion1['armorperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['armorperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Spell block </td>
                            <td>
                                <%= champion1['spellblock'] %>
                            </td>
                            <td>
                                <%= champion2['spellblock'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Spell block per level </td>
                            <td>
                                <%= champion1['spellblockperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['spellblockperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Attack range </td>
                            <td>
                                <%= champion1['attackrange'] %>
                            </td>
                            <td>
                                <%= champion2['attackrange'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">HP regen </td>
                            <td>
                                <%= champion1['hpregen'] %>
                            </td>
                            <td>
                                <%= champion2['hpregen'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">HP regen per level </td>
                            <td>
                                <%= champion1['hpregenperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['hpregenperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">MP regen </td>
                            <td>
                                <%= champion1['mpregen'] %>
                            </td>
                            <td>
                                <%= champion2['mpregen'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">MP regen per level </td>
                            <td>
                                <%= champion1['mpregenperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['mpregenperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Crit </td>
                            <td>
                                <%= champion1['crit'] %>
                            </td>
                            <td>
                                <%= champion2['crit'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Crit per level </td>
                            <td>
                                <%= champion1['critperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['critperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Attack damage </td>
                            <td>
                                <%= champion1['attackdamage'] %>
                            </td>
                            <td>
                                <%= champion2['attackdamage'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Attack damage per level </td>
                            <td>
                                <%= champion1['attackdamageperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['attackdamageperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Attack speed per level </td>
                            <td>
                                <%= champion1['attackspeedperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['attackspeedperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">Attack speed </td>
                            <td>
                                <%= champion1['attackspeed'] %>
                            </td>
                            <td>
                                <%= champion2['attackspeed'] %>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>

        </main>
        <%- include('footer') %>

</body>

</html>