<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/champions.css">

    <title>Compare champions</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <p><a href='/champions'>Back to the list</a></p>
                <p><a href='/champions/choose/<%= champion1.id_champion %>/all'>choose an oder one to compare</a></p>
            </section>
            <section id="sectionTableCompare">
                <table id="tableCompare">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <td><img src="<%= champion1.icon %>" alt="icon champion 1"></td>
                            <td><img src="<%= champion2.icon %>" alt="icon champion 2"></td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">Name:</th>
                            <td>
                                <%= champion1.name %>
                            </td>
                            <td>
                                <%= champion2.name %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Key:</th>
                            <td>
                                <%= champion1.key_champion %>
                            </td>
                            <td>
                                <%= champion2.key_champion %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Title:</th>
                            <td>
                                <%= champion1.title %>
                            </td>
                            <td>
                                <%= champion2.title %>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Description:</th>
                            <td>
                                <%= champion1.description %>
                            </td>
                            <td>
                                <%= champion2.description %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Category:</th>
                            <td>
                                <%= champion1['tags_0'] %>
                            </td>
                            <td>
                                <%= champion2['tags_0'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP:</th>
                            <td>
                                <%= champion1['hp'] %>
                            </td>
                            <td>
                                <%= champion2['hp'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP per level:</th>
                            <td>
                                <%= champion1['hpperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['hpperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP:</th>
                            <td>
                                <%= champion1['mp'] %>
                            </td>
                            <td>
                                <%= champion2['mp'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP per level:</th>
                            <td>
                                <%= champion1['mpperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['mpperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Move speed:</th>
                            <td>
                                <%= champion1['movespeed'] %>
                            </td>
                            <td>
                                <%= champion2['movespeed'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Armor:</th>
                            <td>
                                <%= champion1['armor'] %>
                            </td>
                            <td>
                                <%= champion2['armor'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Armor per level:</th>
                            <td>
                                <%= champion1['armorperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['armorperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Spell block:</th>
                            <td>
                                <%= champion1['spellblock'] %>
                            </td>
                            <td>
                                <%= champion2['spellblock'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Spell block per level:</th>
                            <td>
                                <%= champion1['spellblockperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['spellblockperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack range:</th>
                            <td>
                                <%= champion1['attackrange'] %>
                            </td>
                            <td>
                                <%= champion2['attackrange'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP regen:</th>
                            <td>
                                <%= champion1['hpregen'] %>
                            </td>
                            <td>
                                <%= champion2['hpregen'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP regen per level:</th>
                            <td>
                                <%= champion1['hpregenperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['hpregenperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP regen:</th>
                            <td>
                                <%= champion1['mpregen'] %>
                            </td>
                            <td>
                                <%= champion2['mpregen'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP regen per level:</th>
                            <td>
                                <%= champion1['mpregenperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['mpregenperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Crit:</th>
                            <td>
                                <%= champion1['crit'] %>
                            </td>
                            <td>
                                <%= champion2['crit'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Crit per level:</th>
                            <td>
                                <%= champion1['critperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['critperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack damage:</th>
                            <td>
                                <%= champion1['attackdamage'] %>
                            </td>
                            <td>
                                <%= champion2['attackdamage'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack damage per level:</th>
                            <td>
                                <%= champion1['attackdamageperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['attackdamageperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack speed per level:</th>
                            <td>
                                <%= champion1['attackspeedperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['attackspeedperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack speed:</th>
                            <td>
                                <%= champion1['attackspeed'] %>
                            </td>
                            <td>
                                <%= champion2['attackspeed'] %>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>

        </main>
        <%- include('footer') %>

</body>

</html>