<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/champions.css">

    <title>Compare champions</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <p><a href='/champions'>Back to the list</a></p>
                <p><a href='/champions/choose/<%= champion1.id %>/all'>choose an oder one to compare</a></p>
            </section>
            <section id="sectionTableCompare">
                <table id="tableCompare">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <td><img src="<%= champion1.icon %>" alt="icon champion 1"></td>
                            <td><img src="<%= champion2.icon %>" alt="icon champion 2"></td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">Name:</th>
                            <td>
                                <%= champion1.name %>
                            </td>
                            <td>
                                <%= champion2.name %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Key:</th>
                            <td>
                                <%= champion1.key %>
                            </td>
                            <td>
                                <%= champion2.key %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Title:</th>
                            <td>
                                <%= champion1.title %>
                            </td>
                            <td>
                                <%= champion2.title %>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Description:</th>
                            <td>
                                <%= champion1.description %>
                            </td>
                            <td>
                                <%= champion2.description %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Category:</th>
                            <td>
                                <%= champion1['tags/0'] %>
                            </td>
                            <td>
                                <%= champion2['tags/0'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP:</th>
                            <td>
                                <%= champion1['stats/hp'] %>
                            </td>
                            <td>
                                <%= champion2['stats/hp'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP per level:</th>
                            <td>
                                <%= champion1['stats/hpperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/hpperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP:</th>
                            <td>
                                <%= champion1['stats/mp'] %>
                            </td>
                            <td>
                                <%= champion2['stats/mp'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP per level:</th>
                            <td>
                                <%= champion1['stats/mpperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/mpperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Move speed:</th>
                            <td>
                                <%= champion1['stats/movespeed'] %>
                            </td>
                            <td>
                                <%= champion2['stats/movespeed'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Armor:</th>
                            <td>
                                <%= champion1['stats/armor'] %>
                            </td>
                            <td>
                                <%= champion2['stats/armor'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Armor per level:</th>
                            <td>
                                <%= champion1['stats/armorperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/armorperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Spell block:</th>
                            <td>
                                <%= champion1['stats/spellblock'] %>
                            </td>
                            <td>
                                <%= champion2['stats/spellblock'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Spell block per level:</th>
                            <td>
                                <%= champion1['stats/spellblockperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/spellblockperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack range:</th>
                            <td>
                                <%= champion1['stats/attackrange'] %>
                            </td>
                            <td>
                                <%= champion2['stats/attackrange'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP regen:</th>
                            <td>
                                <%= champion1['stats/hpregen'] %>
                            </td>
                            <td>
                                <%= champion2['stats/hpregen'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">HP regen per level:</th>
                            <td>
                                <%= champion1['stats/hpregenperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/hpregenperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP regen:</th>
                            <td>
                                <%= champion1['stats/mpregen'] %>
                            </td>
                            <td>
                                <%= champion2['stats/mpregen'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">MP regen per level:</th>
                            <td>
                                <%= champion1['stats/mpregenperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/mpregenperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Crit:</th>
                            <td>
                                <%= champion1['stats/crit'] %>
                            </td>
                            <td>
                                <%= champion2['stats/crit'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Crit per level:</th>
                            <td>
                                <%= champion1['stats/critperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/critperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack damage:</th>
                            <td>
                                <%= champion1['stats/attackdamage'] %>
                            </td>
                            <td>
                                <%= champion2['stats/attackdamage'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack damage per level:</th>
                            <td>
                                <%= champion1['stats/attackdamageperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/attackdamageperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack speed per level:</th>
                            <td>
                                <%= champion1['stats/attackspeedperlevel'] %>
                            </td>
                            <td>
                                <%= champion2['stats/attackspeedperlevel'] %>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Attack speed:</th>
                            <td>
                                <%= champion1['stats/attackspeed'] %>
                            </td>
                            <td>
                                <%= champion2['stats/attackspeed'] %>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>

        </main>
        <%- include('footer') %>

</body>

</html>