<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>Edit team</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section id="form_register_team">
                <a href="/team/list">
                    <button type="button" class="buttonBack gold">Back to Team</button>
                </a>

                <h1 class="gold center">Edit Team</h1>

                <form action='/team/update/<%= OneTeam.team_id %>' method='post' enctype='application/x-www-form-urlencoded'>
                    <div class="container">
                        <div class="fitContent">
                            <label for="NameTeam">Name of The Team</label>
                            <input type="text" name="team_name" id="NameTeam" placeholder="Enter name" value="<%= OneTeam.team_name %>">
                        </div>
                        <div class="fitContent">
                            <label for="for">Number of wins</label>
                            <input type="number" name="team_victory" value="<%= OneTeam.team_victory%>">
                        </div>
                        <div class="fitContent">
                            <label for="for">Number of defeats</label>
                            <input type="number" name="team_defeat" value="<%= OneTeam.team_defeat%>">
                        </div>
                        <div class="fitContent">
                            <label for="team_continent">What continent are you from?</label>

                            <select name="team_continent" id="contient">
                                <option value="Europe" <%- OneTeam.team_continent=="Europe" ? "selected='selected'" : ""%>>Europe</option>
                                <option value="China" <%- OneTeam.team_continent=="China" ? "selected='selected'" : ""
                                    %>
                                    >China</option>
                                <option value="North America" <%- OneTeam.team_continent=="North America"
                                    ? "selected='selected'" : "" %> >North America</option>
                                <option value="Korean" <%- OneTeam.team_continent=="Korean" ? "selected='selected'" : ""
                                    %>
                                    >Korean</option>
                            </select>
                        </div>
                    </div>
                    <div class="laner">

                        <div>
                            <h1>Top liner</h1>

                            <select name="player_id">
                                <% for (var p of players) { %>
                                    <option value="<%=p.player_id%>" <%-p.player_id==OneTeam.player_top ? "selected='selected'" : "" %>><%= p.player_pseudo %></option>

                                <% } %>
                            </select>
                        </div>
                        <div>
                            <h1>Mid Laner</h1>

                            <select name="player_id">
                                <% for (var p of players) { %>
                                    <option value="<%=p.player_id%>" <%-p.player_id==OneTeam.player_mid ? "selected='selected'" : "" %>><%= p.player_pseudo %></option>
                            <% } %>
                            </select>
                        </div>

                        <div>
                            <h1>adc Laner</h1>
                            <select name="player_id">
                                <% for (var p of players) { %>
                                    <option value="<%=p.player_id%>" <%-p.player_id==OneTeam.player_adc ? "selected='selected'" : "" %>><%= p.player_pseudo %></option>
                            <% } %>
                            </select>

                        </div>
                        <div>
                            <h1>support Laner</h1>
                            <select name="player_id">
                                <% for (var p of players) { %>
                                    <option value="<%=p.player_id%>"  <%-p.player_id==OneTeam.player_support ? "selected='selected'" : "" %>><%= p.player_pseudo %></option>
                            <% } %>
                            </select>

                        </div>
                        <div>
                            <h1>Jungle Laner</h1>
                            <select name="player_id">                   
                                <% for (var p of players) { %>
                                    <option value="<%=p.player_id%>" <%-p.player_id==OneTeam.player_jungle ? "selected='selected'" : "" %>><%= p.player_pseudo %></option>
                            <% } %>
                            </select>
                        </div>

                    </div>
                    <a href="/players/edit/0">
                        <button type="button" class="buttonBack gold">add new player</button>
                    </a>

                    <input type="submit" id="submitButton" value="Submit">

                </form>
            </section>
        </main>

</body>

</html>