<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>Edit team</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section id="form_register_team">
                <form action='/team/update/<%= OneTeam.team_id %>' method='post' enctype='application/x-www-form-urlencoded'>
                    <div class="container">
                        <div class="fitContent">
                            <label for="NameTeam">Name of The Team</label>
                            <input type="text" name="team_name" id="NameTeam" placeholder="Enter name" value="<%= OneTeam.team_name %>">
                        </div>
                        <div class="fitContent">
                            <label for="for">Number of wins</label>
                            <input type="number" name="team_victory" value="<%= OneTeam.team_victory%>">
                        </div>
                        <div class="fitContent">
                            <label for="for">Number of defeats</label>
                            <input type="number" name="team_defeat" value="<%= OneTeam.team_defeat%>">
                        </div>
                        <div class="fitContent">
                            <label for="team_continent">What continent are you from?</label>

                            <select name="team_continent" id="contient">
                                <option value="Europe" <%- OneTeam.team_continent=="Europe" ? "selected='selected'" : ""%>>Europe</option>
                                <option value="China" <%- OneTeam.team_continent=="China" ? "selected='selected'" : ""
                                    %>
                                    >China</option>
                                <option value="North America" <%- OneTeam.team_continent=="North America"
                                    ? "selected='selected'" : "" %> >North America</option>
                                <option value="Korean" <%- OneTeam.team_continent=="Korean" ? "selected='selected'" : ""
                                    %>
                                    >Korean</option>
                            </select>
                        </div>
                    </div>
                    <div class="laner">
                        <% if(players!=="editor") {%>
                            <% for (var p of players) { %>
                                <% if(p.player_id==OneTeam.player_top) {%>
                                    <div>
                                        <h1>Top Laner</h1>
                                        <label for="FirstName_top">First Name</label>
                                        <input type="text" id="FirstName_top" placeholder="Joe" name="player_firstName" value="<%= p.player_firstName %> ">
                                        <label for="LastName_top">Last Name</label>
                                        <input type="text" id="LastName_top" placeholder="Doe" name="player_lastName" value="<%= p.player_lastName %> ">
                                        <label for="pseudo_top">Pseudo</label>
                                        <input type="text" id="pseudo_top" placeholder="Phenix" name="player_pseudo" value="<%= p.player_pseudo %>">
                                        <label for="favCar_top">Favorite caractere</label>
                                        <input type="text" id="favCar_top" placeholder="Aatrox" name="player_favCaract" value="<%= p.player_favCaract %>">
                                    </div>
                                    <% }else if(p.player_id==OneTeam.player_mid) {%>
                                        <div>
                                            <h1>Mid Laner</h1>
                                            <label for="FirstName_mid">First Name</label>
                                            <input type="text" id="FirstName_mid" placeholder="Joe" name="player_firstName" value="<%= p.player_firstName %> ">
                                            <label for="LastName_mid">Last Name</label>
                                            <input type="text" id="LastName_mid" placeholder="Doe" name="player_lastName" value="<%= p.player_lastName %> ">
                                            <label for="pseudo_mid">Pseudo</label>
                                            <input type="text" id="pseudo_mid" placeholder="Phenix" name="player_pseudo" value="<%= p.player_pseudo %>">
                                            <label for="favCar_mid">Favorite caractere</label>
                                            <input type="text" id="favCar_mid" placeholder="Aatrox" name="player_favCaract" value="<%= p.player_favCaract %>">
                                        </div>
                                        <% }else if(p.player_id==OneTeam.player_adc) {%>
                                            <div>
                                                <h1>Attack Damage Carry</h1>
                                                <label for="FirstName_adc">First Name</label>
                                                <input type="text" id="FirstName_adc" placeholder="Joe" name="player_firstName" value="<%= p.player_firstName %> ">
                                                <label for="LastName_adc">Last Name</label>
                                                <input type="text" id="LastName_adc" placeholder="Doe" name="player_lastName" value="<%= p.player_lastName %> ">
                                                <label for="pseudo_adc">Pseudo</label>
                                                <input type="text" id="pseudo_adc" placeholder="Phenix" name="player_pseudo" value="<%= p.player_pseudo %>">
                                                <label for="favCar_adc">Favorite caractere</label>
                                                <input type="text" id="favCar_adc" placeholder="Aatrox" name="player_favCaract" value="<%= p.player_favCaract %>">

                                            </div>
                                            <% }else if(p.player_id==OneTeam.player_support) {%>
                                                <div>
                                                    <h1>Support</h1>
                                                    <label for="FirstName_supp">First Name</label>
                                                    <input type="text" id="FirstName_supp" placeholder="Joe" name="player_firstName" value="<%= p.player_firstName %> ">
                                                    <label for="LastName_supp">Last Name</label>
                                                    <input type="text" id="LastName_supp" placeholder="Doe" name="player_lastName" value="<%= p.player_lastName %> ">
                                                    <label for="pseudo_supp">Pseudo</label>
                                                    <input type="text" id="pseudo_supp" placeholder="Phenix" name="player_pseudo" value="<%= p.player_pseudo %>">
                                                    <label for="favCar_supp">Favorite caractere</label>
                                                    <input type="text" id="favCar_supp" placeholder="Aatrox" name="player_favCaract" value="<%= p.player_favCaract %>">
                                                </div>
                                                <% }else if(p.player_id==OneTeam.player_jungle) {%>
                                                    <div>
                                                        <h1>Jungle Laner</h1>
                                                        <label for="FirstName_supp">First Name</label>
                                                        <input type="text" id="FirstName_supp" placeholder="Joe" name="player_firstName" value="<%= p.player_firstName %> ">
                                                        <label for="LastName_supp">Last Name</label>
                                                        <input type="text" id="LastName_supp" placeholder="Doe" name="player_lastName" value="<%= p.player_lastName %> ">
                                                        <label for="pseudo_supp">Pseudo</label>
                                                        <input type="text" id="pseudo_supp" placeholder="Phenix" name="player_pseudo" value="<%= p.player_pseudo %>">
                                                        <label for="favCar_supp">Favorite caractere</label>
                                                        <input type="text" id="favCar_supp" placeholder="Aatrox" name="player_favCaract" value="<%= p.player_favCaract %>">

                                                        <% }%>
                                                            <% }%>
                                                                <% }else{%>
                                                                    <div>
                                                                        <h1>Top Laner</h1>
                                                                        <label for="FirstName_top">First Name</label>
                                                                        <input type="text" id="FirstName_top" placeholder="Joe" name="player_firstName">
                                                                        <label for="LastName_top">Last Name</label>
                                                                        <input type="text" id="LastName_top" placeholder="Doe" name="player_lastName">
                                                                        <label for="pseudo_top">Pseudo</label>
                                                                        <input type="text" id="pseudo_top" placeholder="Phenix" name="player_pseudo">
                                                                        <label for="favCar_top">Favorite caractere</label>
                                                                        <input type="text" id="favCar_top" placeholder="Aatrox" name="player_favCaract">
                                                                    </div>
                                                                    <div>
                                                                        <h1>Mid Laner</h1>
                                                                        <label for="FirstName_mid">First Name</label>
                                                                        <input type="text" id="FirstName_mid" placeholder="Joe" name="player_firstName">
                                                                        <label for="LastName_mid">Last Name</label>
                                                                        <input type="text" id="LastName_mid" placeholder="Doe" name="player_lastName">
                                                                        <label for="pseudo_mid">Pseudo</label>
                                                                        <input type="text" id="pseudo_mid" placeholder="Phenix" name="player_pseudo">
                                                                        <label for="favCar_mid">Favorite caractere</label>
                                                                        <input type="text" id="favCar_mid" placeholder="Aatrox" name="player_favCaract">
                                                                    </div>
                                                                    <div>
                                                                        <h1>Attack Damage Carry</h1>
                                                                        <label for="FirstName_adc">First Name</label>
                                                                        <input type="text" id="FirstName_adc" placeholder="Joe" name="player_firstName">
                                                                        <label for="LastName_adc">Last Name</label>
                                                                        <input type="text" id="LastName_adc" placeholder="Doe" name="player_lastName">
                                                                        <label for="pseudo_adc">Pseudo</label>
                                                                        <input type="text" id="pseudo_adc" placeholder="Phenix" name="player_pseudo">
                                                                        <label for="favCar_adc">Favorite caractere</label>
                                                                        <input type="text" id="favCar_adc" placeholder="Aatrox" name="player_favCaract">
                                                                    </div>
                                                                    <div>
                                                                        <h1>Support</h1>
                                                                        <label for="FirstName_supp">First Name</label>
                                                                        <input type="text" id="FirstName_supp" placeholder="Joe" name="player_firstName">
                                                                        <label for="LastName_supp">Last Name</label>
                                                                        <input type="text" id="LastName_supp" placeholder="Doe" name="player_lastName">
                                                                        <label for="pseudo_supp">Pseudo</label>
                                                                        <input type="text" id="pseudo_supp" placeholder="Phenix" name="player_pseudo">
                                                                        <label for="favCar_supp">Favorite caractere</label>
                                                                        <input type="text" id="favCar_supp" placeholder="Aatrox" name="player_favCaract">
                                                                    </div>
                                                                    <div>
                                                                        <h1>Jungle Laner</h1>
                                                                        <label for="FirstName_supp">First Name</label>
                                                                        <input type="text" id="FirstName_supp" placeholder="Joe" name="player_firstName">
                                                                        <label for="LastName_supp">Last Name</label>
                                                                        <input type="text" id="LastName_supp" placeholder="Doe" name="player_lastName">
                                                                        <label for="pseudo_supp">Pseudo</label>
                                                                        <input type="text" id="pseudo_supp" placeholder="Phenix" name="player_pseudo">
                                                                        <label for="favCar_supp">Favorite caractere</label>
                                                                        <input type="text" id="favCar_supp" placeholder="Aatrox" name="player_favCaract">
                                                                    </div>
                                                                    <% }%>
                                                    </div>

                                                    <input type="submit" id="submitButton" value="Submit">

                </form>
            </section>
        </main>

</body>

</html>