<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/players.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>Edit player</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section id="form_register_team">
                <form action='/players/update/<%=player.player_id%>' method='post' enctype='application/x-www-form-urlencoded'>
                    <div>
                        <table>
                            <tr>
                                <td>firstName</td>
                                <td>lastName</td>
                                <td>pseudo</td>
                                <td>country</td>
                                <td>team</td>
                                <td>favCaract</td>
                                <td>role</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="player_firstName" value="<%= player.player_firstName %>"></td>
                                <td><input type="text" name="player_lastName" value="<%= player.player_lastName %>"></td>
                                <td><input type="text" name="player_pseudo" value="<%= player.player_pseudo %>"></td>
                                <td><input type="text" name="player_country" value="<%= player.player_country %>"></td>
                                <td><input type="text" name="player_team" value="<%= player.player_team %>"></td>
                                <td>

                                    <select name="player_favCaract">
                                        <% for (var c of champions) { %>
                                                <option value="<%=c.key_champion%>" <%-player.player_favCaract==c.key_champion ? "selected='selected'" : "" %>><%= c.name %> </option>
                                        <% } %>
                                    </select>

                                </td>
                            </tr>

                            <td>
                                <select name='player_role'>
                                        <option value='top' <%- player.player_role=="top" ? "selected='selected'" : "" %>>top</option>
                                        <option value='mid' <%- player.player_role=="mid" ? "selected='selected'" : "" %>>mid</option>
                                        <option value='adc' <%- player.player_role=="adc" ? "selected='selected'" : "" %>>adc</option>
                                        <option value='support' <%- player.player_role=="support" ? "selected='selected'" : "" %>>support</option>
                                        <option value='jungle' <%- player.player_role=="jungle" ? "selected='selected'" : "" %>>jungle</option>
                                    </select>
                            </td>


                            </tr>
                        </table>
                        <input type="submit" id="submitButton" value="Submit">

                </form>
            </section>
        </main>
        <%- include('footer') %>

</body>

</html>