<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - Players Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <h1 class="gold_2 center text_title">How do League of Legend competitions work?</h1>
                <p class="text_description">
                    Legend competitions consist of teams of 5 players assisted by a coach and several analysts. In the world championship, teams can only have one substitute, but in the championships, a more or less free number of substitutes is tolerated. There are a multitude
                    of national or continental championships around the world, but only 12 leagues qualify for the annual world championship. These are the 12 major leagues in the competitive world of League of Legends.

                </p>
                <div id="carte">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1krJaFJMIstGKO3NdT752f4iGA_arJv9p" width="680" height="300">
                    </iframe>
                </div>
            </section>
            <section>
                <h1 class="gold_2 center text_title">Player in competition</h1>

                <table class="table table-striped table-bordered table-hover table-dark">

                    <tr>
                        <td class="headTable">ID</td>
                        <!-- <td class="headTable">First Name</td> -->
                        <!-- <td class="headTable">Last Name</td> -->
                        <td class="headTable">Pseudo</td>
                        <!-- <td class="headTable">Country</td> -->
                        <td class="headTable">Team</td>
                        <td class="headTable">Favorite Caracter</td>
                        <td class="headTable">Role</td>
                        <td class="headTable">Show</td>
                        <td class="headTable">Edit</td>
                        <td class="headTable">Delete</td>
                    </tr>
                    <% for (var p of players) { %>
                        <tr>
                            <td>
                                <%= p.player_id %>
                            </td>
                            <!-- <td>
                                <%= p.player_firstName %>
                            </td>
                            <td>
                                <%= p.player_lastName %>
                            </td> -->
                            <td>
                                <%= p.player_pseudo %>
                            </td>
                            <!-- <td>
                                <%= p.player_country %>
                            </td> -->
                            <td>
                                <%= p.player_team %>
                            </td>
                            <td>
                                <% for(var c of champions){%>
                                    <% if(p.player_favCaract==c.key_champion) {%>
                                        <%= c.name %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <%= p.player_role%>
                            </td>
                            <td class="noBorder">
                                <a href='/players/show/<%= p.player_id %>'>
                                    <button class="buttonEdit"> Show</button>
                                </a>
                            </td>
                            <td class="noBorder">

                                <a href='/players/edit/<%= p.player_id %>'>
                                    <button class="buttonEdit"> Edit </button>
                                </a>
                            </td>
                            <% var f = false%>
                                <%for(var t of teams){%>
                                    <% if((t.player_top == p.player_id)||(t.player_mid == p.player_id)||(t.player_adc == p.player_id)||(t.player_support == p.player_id)||(t.player_jungle == p.player_id)){%>
                                        <td class="noBorder">
                                            <a href=''>
                                                <button class="buttonEdit" disabled> Delete</button>
                                            </a>
                                        </td>
                                        <% f = true %>
                                            <% break %>
                                                <% } %>
                                                    <%}if (f == false){ %>
                                                        <td class="noBorder">
                                                            <a href='/players/del/<%= p.player_id %>'>
                                                                <button class="buttonEdit"> Delete</button>
                                                            </a>
                                                        </td>
                                                        <% } %>
                        </tr>
                        <% } %>
                </table>
            </section>
            <section class="sect_2">
                <a class="center " id="title_register" href="/players/edit/0">
                    <button type="button" class="button_ buttonRegister gold_2"> Register your player</button>
                </a>
            </section>
        </main>
        <%- include('footer') %>
</body>

</html>