<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>show player - League of Legend</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <a href="/players/list">
                <button type="button" class="buttonBack gold">Back to Player</button>
            </a>
            <h1 class="gold_2 center text_title">Show Player</h1>
            <table class="table table-striped table-bordered table-hover tableWhite" id="showPlayer">
                <tr>
                    <td>ID</td>
                    <td>
                        <%= onePlayer.player_id %>
                    </td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>
                        <%= onePlayer.player_firstName %>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <%= onePlayer.player_lastName %>
                    </td>
                </tr>
                <tr>
                    <td>Pseudo</td>
                    <td>
                        <%= onePlayer.player_pseudo %>
                    </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <%= onePlayer.player_country %>
                    </td>
                </tr>
                <tr>
                    <td>Team</td>
                    <td>
                        <%= onePlayer.player_team %>
                    </td>
                </tr>
                <% for(var c of champions){%>
                    <% if(onePlayer.player_favCaract==c.key_champion){%>
                        <tr>
                            <td>Favorite caracter</td>
                            <td>
                                <a href="/champions/show/<%= c.id_champion %> ">
                                    <%= c.name %>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
                                <tr>
                                    <td>Role</td>
                                    <td>
                                        <%= onePlayer.player_role %>
                                    </td>
                                </tr>
            </table>
        </main>
        <%- include('footer') %>
</body>


</html>