<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/show_champion.css">
    <title>Show champion</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section id="button_show">
                <button><a href='/champions' class="gold">Back to the list</a></button>
                <button><a href='/champions/choose/<%= champion.id %>/all' class="gold">Compare</a></button>
            </section>
            <table>
                <thead>
                    <th colspan="2" scope="col">Characteristics of the character</th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" scope="col"><img src="<%= champion.icon %>" alt="icon champion 1"></td>
                    </tr>
                    <tr>
                        <td>Key </td>
                        <td>
                            <%= champion.key %>
                        </td>
                    </tr>
                    <tr>
                        <td>Name </td>
                        <td>
                            <%= champion.name %>
                        </td>
                    </tr>
                    <tr>
                        <td>Title </td>
                        <td>
                            <%= champion.title %>
                        </td>
                    <tr>
                        <td>Description </td>
                        <td>
                            <%= champion.description %>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td>Category </td>
                        <td>
                            <%= champion['tags/0'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>HP </td>
                        <td>
                            <%= champion['stats/hp'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>HP per level </td>
                        <td>
                            <%= champion['stats/hpperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>MP </td>
                        <td>
                            <%= champion['stats/mp'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>MP per level </td>
                        <td>
                            <%= champion['stats/mpperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Move speed </td>
                        <td>
                            <%= champion['stats/movespeed'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Armor </td>
                        <td>
                            <%= champion['stats/armor'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Armor per level </td>
                        <td>
                            <%= champion['stats/armorperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Spell block </td>
                        <td>
                            <%= champion['stats/spellblock'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Spell block per level </td>
                        <td>
                            <%= champion['stats/spellblockperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Attack range </td>
                        <td>
                            <%= champion['stats/attackrange'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>HP regen </td>
                        <td>
                            <%= champion['stats/hpregen'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>HP regen per level </td>
                        <td>
                            <%= champion['stats/hpregenperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>MP regen </td>
                        <td>
                            <%= champion['stats/mpregen'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>MP regen per level </td>
                        <td>
                            <%= champion['stats/mpregenperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Crit </td>
                        <td>
                            <%= champion['stats/crit'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Crit per level </td>
                        <td>
                            <%= champion['stats/critperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Attack damage </td>
                        <td>
                            <%= champion['stats/attackdamage'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Attack damage per level </td>
                        <td>
                            <%= champion['stats/attackdamageperlevel'] %>
                        </td>
                    </tr>
                    <tr>
                        <td>Attack speed per level </td>
                        <td>
                            <%= champion['stats/attackspeedperlevel'] %>
                        </td>

                    </tr>
                    <tr>
                        <td>Attack speed </td>
                        <td>
                            <%= champion['stats/attackspeed'] %>
                        </td>

                    </tr>

                </tbody>
            </table>
        </main>

        <%- include('footer') %>


</body>

</html>