<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/store.css">
    <title>Store League of Legend</title>
</head>

<body>
    <%- include('header') %>
        <section>
            <form action="" method="" id="f">
                <div class="fields">
                    <input type="text" name="user_name" id="userName" placeholder="User Name" required>
                    <input type="password" name="user_prenom" id="password" placeholder="*******" required>
                    <select name="role" id="role_select">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
                <div>
                    <input type="submit" id="myButton" value="Log In"></input>
                </div>
            </form>
        </section>
        <section>

            <aside class="displayFlex">
                <% for(var fig of figurine) { %>
                    <div class="center">
                        <img src="<%= fig.pop_picture %> " class="figurineImage" alt="figurine">
                        <div class="figPrice gold">
                            <p>
                                <%= fig.pop_price%> €
                            </p>
                            <p>
                                <%= fig.pop_quantity %> pieces
                            </p>
                        </div>
                        <button type="submit" class="button_buy">Buy online</button>
                    </div>
                    <% } %>
            </aside>
        </section>

        <%- include('footer') %>

</body>

</html>