<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - Team Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <h1 class="center gold_2 title_register">Team in competition</h1>

                <table>
                    <tr>
                        <td class="headTable">ID</td>
                        <td class="headTable">Name</td>
                        <td class="headTable">Victory</td>
                        <td class="headTable">Defeat</td>
                        <td class="headTable">Continent</td>
                        <td class="headTable">Top liner name</td>
                        <td class="headTable">Mid laner name</td>
                        <td class="headTable">ADC name</td>
                        <td class="headTable">Support name</td>
                        <td class="headTable">Jungle name</td>
                    </tr>

                    <% for (var t of teams) { %>
                        <tr>
                            <td>
                                <%= t.team_id %>
                            </td>
                            <td>
                                <%= t.team_name %>
                            </td>
                            <td>
                                <%= t.team_victory%>
                            </td>
                            <td>
                                <%= t.team_defeat%>
                            </td>
                            <td>
                                <%= t.team_continent%>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_top){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_mid){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_adc){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_support){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_jungle){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td class="noBorder">
                                <button class="buttonEdit">
                                    <a href='/team/edit/<%= t.team_id %>'>Edit</a>
                                </button>
                            </td>
                            <td class="noBorder">
                                <button class="buttonEdit">
                                    <a href='/team/del/<%= t.team_id %>'>Delete</a>
                                </button>
                            </td>
                        </tr>

                        <% } %>
                </table>
            </section>
            <section>
                <a class="center gold_2" id="title_register" href="/team/edit/0">Register your team</a>
                <p id="text_register">You too have a team, you like to play together and you think you have a chance to compete with other teams so don't wait, register your team now!</p>

            </section>
        </main>
        <%- include('footer') %>
</body>

</html>