<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - Team Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <h1 class="gold_2 center text_title">The world Cup</h1>
                <p class="text_description">
                    The League of Legends World Championship is the annual League of Legends World Championship
                    professional tournament hosted by Riot Games and is the highlight of each season. The top teams from
                    each major league compete for the title of World Champion. At stake is the 32kg Summoner's Cup and a
                    hefty prize package ranging to over $1 million USD. <br><br>

                    In 2018, the finals broke all previous audience records with nearly 100 million (99.6) unique
                    viewers, 44 million concurrent viewers and an average of 19.6 million viewers during the finals. In
                    addition, teams were offered more than $4.2 million USD from the sale of exclusive chromas and skins
                    for the event1. <br>

                    The League of Legends World Championships has been a resounding success and has grown in popularity,
                    making it one of the most prestigious and most-watched tournaments in the world (surpassing even the
                    NBA Finals), as well as the most watched video game in the world. Due to its success, the esports
                    stage has become widely seen as a potential Olympic event, already part of the 2022 Asian Games
                    program. <br><br>

                    The tournament was initially held in one or two cities. But from 2013 to 2019, it was always three
                    or four cities in a major region that could host the event. South Korea, China, Southeast Asia, the
                    United States and Europe have all been able to host a competition at least once before. Due to the
                    COVID-19 pandemic, the 2020 edition could only be held in one city, Shanghai. For the first time,
                    the competition had to be held without an audience, with only the finals being open to the public.
                    China, Europe and the United States were able to host the competition three times each.

                </p>
                <p class="center">
                    Sources : Wikipédia
                </p>
            </section>
            <section>
                <h1 class="gold_2 center text_title">Team in competition</h1>
                <table class="table table-striped table-bordered table-hover table-dark">
                    <tr>
                        <td class="headTable">ID</td>
                        <td class="headTable">Name</td>
                        <!-- <td class="headTable">Victory</td> -->
                        <!-- <td class="headTable">Defeat</td> -->
                        <td class="headTable">Continent</td>

                        <td class="headTable">Top liner player</td>
                        <td class="headTable">Mid laner player</td>
                        <td class="headTable">ADC player</td>
                        <td class="headTable">Support player</td>
                        <td class="headTable">Jungle player</td>
                        <td class="headTable">Show</td>
                        <td class="headTable">Edit</td>
                        <td class="headTable">Delete</td>
                    </tr>

                    <% for (var t of teams) { %>
                        <tr>
                            <td>
                                <%= t.team_id %>
                            </td>
                            <td>
                                <%= t.team_name %>
                            </td>
                            <!-- <td>
                                <%= t.team_victory%>
                            </td>
                            <td>
                                <%= t.team_defeat%>
                            </td> -->
                            <td>
                                <%= t.team_continent%>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_top){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_mid){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_adc){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_support){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_jungle){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td class="noBorder">
                                <a href='/team/show/<%= t.team_id %>'>
                                    <button class="buttonEdit">
                                        Show
                                    </button>
                                </a>
                            </td>
                            <td class="noBorder">
                                <a href='/team/edit/<%= t.team_id %>'>
                                    <button class="buttonEdit">
                                        Edit
                                    </button>
                                </a>
                            </td>
                            <td class="noBorder">
                                <a href='/team/del/<%= t.team_id %>'>
                                    <button class="buttonEdit">
                                        Delete
                                    </button>
                                </a>

                            </td>
                        </tr>
                        <% } %>
                </table>
            </section>
            <section class="sect_2">
                <p id="text_register">You have a team, you like to play together and you think you have a chance to
                    compete with other teams so don't wait, register your team now!</p>

                <button type="button" class="button_ buttonRegister">
                    <a class="center gold_2" id="title_register" href="/team/edit/0">Register your team</a>
                </button>


            </section>
        </main>
        <%- include('footer') %>
</body>

</html>