<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - Team Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <table>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Victory</td>
                        <td>Defeat</td>
                        <td>Continent</td>
                        <td>Top liner name</td>
                        <td>Mid laner name</td>
                        <td>ADC name</td>
                        <td>Support name</td>
                        <td>Jungle name</td>
                    </tr>

                    <% for (var t of teams) { %>
                        <tr>
                            <td>
                                <%= t.team_id %>
                            </td>
                            <td>
                                <%= t.team_name %>
                            </td>
                            <td>
                                <%= t.team_victory%>
                            </td>
                            <td>
                                <%= t.team_defeat%>
                            </td>
                            <td>
                                <%= t.team_continent%>
                            </td>
                            <td>
                                <%= t.player_top%>
                            </td>
                            <td>
                                <%= t.player_mid%>
                            </td>
                            <td>
                                <%= t.player_adc%>
                            </td>
                            <td>
                                <%= t.player_support%>
                            </td>
                            <td>
                                <%= t.player_jungle%>
                            </td>
                            <td><a href='/team/edit/<%= t.team_id %>'>Edit</a></td>
                            <td><a href='/team/del/<%= t.team_id %>'>Delete</a></td>
                        </tr>

                        <% } %>
                </table>
            </section>
            <section>
                <a class="center gold_2" id="title_register" href="/team/edit/0">Register your team</a>
                <p id="text_register">You too have a team, you like to play together and you think you have a chance to compete with other teams so don't wait, register your team now!</p>
            </section>
        </main>
        <%- include('footer') %>
</body>

</html>