<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="icon" href="/static/Images/icons/lol-league-of-Legends-logo.png">
    <title>League of Legends - Team Page</title>
</head>

<body>
    <%- include('header') %>
        <main>
            <section>
                <h1 class="center gold_2 title_register">Team in competition</h1>
                <table class="table table-striped table-bordered table-hover table-dark">
                    <tr>
                        <td class="headTable">ID</td>
                        <td class="headTable">Name</td>
                        <td class="headTable">Victory</td>
                        <td class="headTable">Defeat</td>
                        <td class="headTable">Continent</td>

                        <td class="headTable">Top liner player</td>
                        <td class="headTable">Mid laner player</td>
                        <td class="headTable">ADC player</td>
                        <td class="headTable">Support player</td>
                        <td class="headTable">Jungle player</td>
                        <td class="headTable">Show</td>
                        <td class="headTable">Edit</td>
                        <td class="headTable">Delete</td>
                    </tr>

                    <% for (var t of teams) { %>
                        <tr>
                            <td>
                                <%= t.team_id %>
                            </td>
                            <td>
                                <%= t.team_name %>
                            </td>
                            <td>
                                <%= t.team_victory%>
                            </td>
                            <td>
                                <%= t.team_defeat%>
                            </td>
                            <td>
                                <%= t.team_continent%>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_top){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_mid){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_adc){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_support){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td>
                                <% for (p of player) { %>
                                    <% if (p.player_id==t.player_jungle){ %>
                                        <%=p.player_pseudo %>
                                            <% } %>
                                                <% } %>
                            </td>
                            <td class="noBorder">
                                <button class="buttonEdit">
                                    <a href='/team/show/<%= t.team_id %>'>Show</a>
                                </button>
                            </td>
                            <td class="noBorder">
                                <button class="buttonEdit">
                                    <a href='/team/edit/<%= t.team_id %>'>Edit</a>
                                </button>
                            </td>
                            <td class="noBorder">
                                <button class="buttonEdit">
                                    <a href='/team/del/<%= t.team_id %>'>Delete</a>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </section>
            <section class="sect_2">
                <p id="text_register">You have a team, you like to play together and you think you have a chance to
                    compete with other teams so don't wait, register your team now!</p>

                <button type="button" class="button_ buttonRegister">
                    <a class="center gold_2" id="title_register" href="/team/edit/0">Register your team</a>
                </button>


            </section>
        </main>
        <%- include('footer') %>
</body>

</html>